/* Адаптация для шапки сайта */
@media (max-width: 1280px) {
    header {
        padding: 50px 50px;
    }

    header .links a {
        font-size: 16px;
    }
}

@media (max-width: 1110px) {
    header {
        padding: 50px 25px;
    }
}

@media (max-width: 1080px) {
    header .links {
        margin-top: 10px;
    }

    header .resume {
        margin-top: 8px;
    }

    header {
        padding: 50px 15px;
    }
}

@media (max-width: 980px) {
    header {
        padding: 50px 50px;
    }

    header .links {
        display: none;
    }

    header .resume {
        display: none;
    }

    header .burger img {
        display: block;
    }
}

/* Адаптация для блока Hero */
@media (max-width: 1321px) {
    .hero {
        display: flex;
        justify-content: space-between;
        padding: 50px 50px;
    }
}

@media (max-width: 1221px) {
    .hero {
        display: flex;
        justify-content: space-between;
        padding: 50px 50px;
    }

    .hero .main-text {
        padding-top: 0px;
    }

    .hero .hero-img img {
        width: 80%;
    }

    .hero .hero-img {
        width: 60%;
    }
}

@media (max-width: 1054px) {
    .hero {
        padding: 50px 25px;
    }
}

@media (max-width: 980px) {
    .hero {
        display: grid;
        justify-content: none;
        place-items: center;
        padding: 50px 50px;
    }

    .hero .main-text {
        width: 100%;
    }

    .hero .hero-img {
        width: 100%;
        order: -1;
    }

    .hero .hero-img img {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 590px) {
    .hero .main-text h2 {
        font-size: 32px;
    }

    .hero .main-text h1 {
        font-size: 32px;
    }

    .hero .main-text .main-text--sub span {
        color: #71717A;
        font-size: 12px;
    }

    .hero .main-text .main-text--socials a {
        padding: 5px 5px 0px 5px;
    }
}

@media (max-width: 470px) {
    .hero .main-text h1 {
        font-size: 28px;
    }

    .hero .main-text h2 {
        font-size: 28px;
    }

    .hero .main-text .main-text--sub span {
        font-size: 10px;
    }
}

@media (max-width: 420px) {
    .hero .main-text h1 {
        font-size: 26px;
    }

    .hero .main-text h2 {
        font-size: 26px;
    }
}

/* Адаптация для блока Skills */
@media (max-width: 980px) {
    .skills {
        padding: 50px 50px;
    }
}

@media (max-width: 757px) {
    .skills .skills-container {
        place-items: center;
    }
}

@media (max-width: 480px) {
    .skills {
        padding: 50px 25px;
    }
}

/* Адаптация для блока Projects */
@media (max-width: 1920px) {
    .cases .cases-container .block img {
        height: 370px;
    }
}

@media (max-width: 1440px) {
    .cases .cases-container .block img {
        height: 300px;
    }
}

@media (max-width: 1280px) {
    .cases {
        padding: 50px 50px;
    }
}

@media (max-width: 1110px) {
    .cases {
        padding: 50px 25px;
    }
}

@media (max-width: 980px) {
    .cases .cases-container .block {
        display: grid;
        justify-content: none;
        width: 100%;
    }

    .cases .cases-container {
        display: grid;
        place-items: center;
    }

    .cases {
        padding: 50px 50px;
    }

    .cases .cases-container .block img {
        width: 100%;
        height: 400px;
        margin-bottom: 25px;
    }

    .cases .cases-container .block .reverse-img {
        margin-left: 0px;
        order: -1;
    }

    .cases .cases-container .block .block--text {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .cases .cases-container .block img {
        height: 300px;
    }

    .cases .cases-container .block .block--text h3 {
        font-size: 28px;
    }

    .cases .cases-container .block .block--text h4 {
        font-size: 30px;
    }
}

@media (max-width: 570px) {
    .cases .cases-container .block img {
        height: 250px;
    }

    .cases .cases-container .block .block--text h3 {
        font-size: 26px;
    }

    .cases .cases-container .block .block--text h4 {
        font-size: 28px;
    }

    .cases .cases-container .block .block--text span {
        font-size: 10px;
    }
}

@media (max-width: 490px) {
    .cases .cases-container .block img {
        height: 200px;
    }
}