@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Базовые настройки */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

button, a {
    cursor: pointer;
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Стили для шапки сайта */
header {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
}

header .logo img {
    margin-right: 5px;
}

header .logo h1 {
    font-size: 22px;
    margin-top: 6px;
}

header .links {
    margin-top: 6px;
}

header .links a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 15px;
    transition: 0.2s ease-in;
}

header .links a:last-child {
    margin-right: 0px;
}

header .links a:hover {
    color: #404040;
}

header .resume {
    margin-top: 6px;
}

header .resume a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.4s ease-in-out;
}

header .resume a:hover {
    background-color: #404040;
}

/* Стили для блока Hero */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.hero .main-text {
    width: 50%;
    padding-top: 100px;
}

.hero .main-text h2 {
    font-weight: 300;
    font-size: 38px;
    padding-bottom: 0px;
}

.hero .main-text h2 b {
    font-weight: 500;
}

.hero .main-text h1 {
    font-size: 38px;
    padding-bottom: 0px;
    color: black;
}

.hero .main-text h1 b {
    font-weight: 300;
}

.hero .main-text .main-text--sub {
    padding-top: 15px;
}

.hero .main-text .main-text--sub span {
    color: #71717A;
    font-size: 13px;
}

.hero .main-text .main-text--socials {
    display: flex;
    margin-top: 25px;
}

.hero .main-text .main-text--socials a {
    border-radius: 4px;
    padding: 10px 10px 5px 10px;
    border: 2px solid black;
    transition: 0.2s ease-in-out;
}

.hero .main-text .main-text--socials a:first-child {
    background-color: black;
}

.hero .main-text .main-text--socials a img {
    width: 32px;
    height: 32px;
}

.hero .main-text .main-text--socials a {
    margin-right: 15px;
}

/* Стили блока скллов */
.skills {
    padding: 50px 100px;
}

.skills h2 {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
}

.skills .skills-container {
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr)); 
}

.skills .skills-container .block {
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: grid;
    place-items: center;
    width: 186px;
    height: 186px;
}

.skills .skills-container .block svg, 
.skills .skills-container .block img {
    width: 72px;
    height: 72px;
    margin-top: 35px;
}

.skills .skills-container .block span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-container .block.active {
    background-color: black;
}

.skills .skills-container .block.active svg {
    fill: white;
}

.skills .skills-container .block.active span {
    color: white;
}

/* Блок с кейсами */
.cases {
    padding: 50px 100px;
    background-color: black;
}

.cases h2 {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: white;
}

.cases .cases-container {
    padding-top: 75px;
}

.cases .cases-container .block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
}

.cases .cases-container .block img {
    width: 50%;
    height: 300px;
    border-radius: 18.75px;
    margin-right: 50px;
}

.cases .cases-container .block .reverse-img {
    margin-right: 0px;
    margin-left: 50px;
}

.cases .cases-container .block .block--text {
    width: 50%;
}

.cases .cases-container .block .block--text h3 {
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
}

.cases .cases-container .block .block--text h4 {
    color: white;
    margin-bottom: 10px;
    font-size: 36px;
}

.cases .cases-container .block .block--text span {
    color: #71717A;
    font-size: 12px;
}

.cases .cases-container .block .block--text .link {
    display: flex;
    margin-top: 15px;
}

.cases .cases-container .block .block--text .link a {
    text-decoration: none;
}

.cases .cases-container .block .block--text .link a span {
    color: #d4d4d8;
}

/* Стили для блоков с отзывами */
.reviews {
    padding: 50px 100px;
}

.reviews h2 {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
}

.reviews .reviews-container {
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); 
}

.reviews .reviews-container .block {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    display: grid;
    place-items: center;
    margin-right: 50px;
    margin-bottom: 25px;
    width: 370px;
}

.reviews .reviews-container .block.active {
    background-color: black;
}

.reviews .reviews-container .block img  {
    width: 96px;
    height: 96px;
    border-radius: 50px;
    margin: 50px 0 30px 0;
    border: 1px solid black;
}

.reviews .reviews-container .block.active img {
    border: 1px solid white;
}

.reviews .reviews-container .block .block--text {
    display: grid;
    place-items: center;
    margin: 0 20px;
}

.reviews .reviews-container .block .block--text span {
    text-align: center;
    font-size: 14px;
    color: #404040;
    margin-bottom: 15px;
    font-weight: 300;
}

.reviews .reviews-container .block.active span {
    color: white;
}

.reviews .reviews-container .block .block--text .hr {
    width: 50%;
    height: 2px;
    background-color: black;
}

.reviews .reviews-container .block.active .hr {
    background-color: white;
}

.reviews .reviews-container .block .block--text p {
    margin-top: 15px;
    margin-bottom: 50px;
}

.reviews .reviews-container .block.active p {
    color: white;
}

/* Стили для блока с опытом работы */
.exp {
    padding: 50px 100px;
    background-color: black;
}

.exp h2 {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: white;
}

.exp .exp-container {
    display: grid;
    place-items: center;
    padding-top: 50px;
}

.exp .exp-container .block {
    width: 100%;
    border: 2px solid #27272A;
    margin-top: 25px;
    border-radius: 10px;
    padding: 25px;
}

.exp .exp-container .block.active {
    background-color: #27272A;
}

.exp .exp-container .block .block--top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.exp .exp-container .block .block--top h3,
.exp .exp-container .block .block--top p {
    color: white;
}

.exp .exp-container .block .block--top p {
    font-size: 14px;
    font-weight: 300;
    color: #D4D4D8;
}

.exp .exp-container .block span {
    color: #D4D4D8;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}