@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Базовые настройки */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

button, a {
    cursor: pointer;
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Стили для шапки сайта */
header {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
}

header .logo img {
    margin-right: 5px;
}

header .logo h1 {
    font-size: 22px;
    margin-top: 6px;
}

header .links {
    margin-top: 6px;
}

header .links a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 15px;
    transition: 0.2s ease-in;
}

header .links a:last-child {
    margin-right: 0px;
}

header .links a:hover {
    color: #404040;
}

header .resume {
    margin-top: 6px;
}

header .resume a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.4s ease-in-out;
}

header .resume a:hover {
    background-color: #404040;
}

/* Стили для блока Hero */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.hero .main-text {
    width: 50%;
    padding-top: 100px;
}

.hero .main-text h2 {
    font-weight: 300;
    font-size: 38px;
    padding-bottom: 0px;
}

.hero .main-text h2 b {
    font-weight: 500;
}

.hero .main-text h1 {
    font-size: 38px;
    padding-bottom: 0px;
    color: black;
}

.hero .main-text h1 b {
    font-weight: 300;
}

.hero .main-text .main-text--sub {
    padding-top: 15px;
}

.hero .main-text .main-text--sub span {
    color: #71717A;
    font-size: 13px;
}

.hero .main-text .main-text--socials {
    display: flex;
    margin-top: 25px;
}

.hero .main-text .main-text--socials a {
    border-radius: 4px;
    padding: 10px 10px 5px 10px;
    border: 2px solid black;
    transition: 0.2s ease-in-out;
}

.hero .main-text .main-text--socials a:first-child {
    background-color: black;
}

.hero .main-text .main-text--socials a img {
    width: 32px;
    height: 32px;
}

.hero .main-text .main-text--socials a {
    margin-right: 15px;
}

/* Стили блока скллов */
.skills {
    padding: 50px 100px;
}

.skills h2 {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
}

.skills .skills-container {
    padding-top: 75px;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr)); 
}

.skills .skills-container .block {
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: grid;
    place-items: center;
    width: 186px;
    height: 186px;
}

.skills .skills-container .block svg, 
.skills .skills-container .block img {
    width: 72px;
    height: 72px;
    margin-top: 35px;
}

.skills .skills-container .block span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-container .block.active {
    background-color: black;
}

.skills .skills-container .block.active svg {
    fill: white;
}

.skills .skills-container .block.active span {
    color: white;
}